{% extends 'layout.twig' %} 

{%  block body %} 

   <section class="container mt-5"> 
      <h1 class="text-center mb-4">Liste des clubs</h1> 
      {% if updateok and message %}
         <p>{{ message|raw }}</p>
      {% endif %}       
      <table class="table">
         <thead>  
            <tr>
               <th scope="col">Id</th>
               <th scope="col">Nom d'équipe</th>
               <th scope="col">Nom d'entraineur</th>
               <th scope="col">Logo équipe</th>
               <th scope="col">Déscription de l'équipe</th>
            </tr>
         </thead>
         <tbody>
         {% for team in listTeam %} 
            <tr>
                  <td>{{ team.id }}</td>
                  <td>{{ team.name_team }}</td>
                  <td>{{ team.name_trainer }}</td>
                  <td>{{ team.logo }}</td>
                  <td>{{ team.team_information }}</td>
                  <td><a href="?controller=home&action=editTeam&id={{ team.id }}">Modifier</a></td>
                  <td><a href="?controller=home&action=deleteTeam&id={{ team.id }}">X</a></td>
            </tr>
         {% endfor %} 
         </tbody>
      </table>
      <a class="btn btn-primary float-right mt-4" type="submit" href="?controller=home&action=createTeam">Ajouter</a>
    </section>
{%  endblock %}  