{% extends 'layout.twig' %} 

{%  block body %} 
      <section class="container mt-5"> 
         <!-- {{ clubs }} -->
         <h1 class="text-center mb-4">Liste des clubs</h1>
         <table class="table">
            <thead> 
               <tr>
                  <th scope="col">Id</th>
                  <th scope="col">#</th>
                  <th scope="col">#</th>
                  <th scope="col">#</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <th scope="row">Nom d'équipe</th>
                  <td>#</td>
                  <td>#</td>
                  <td>#</td>
               </tr>
               <tr>
                  <th scope="row">Nom d'entraineur</th>
                  <td>#</td>
                  <td>#</td>
                  <td>#</td>
               </tr>
               <tr>
                  <th scope="row">Logo équipe</th>
                  <td>#</td>
                  <td>#</td>
                  <td>#</td>
               </tr>
            </tbody>
         </table>
      </section>
{%  endblock %}      <td>{{ team.name_team }}</td>
                  <td>{{ team.name_trainer }}</td>
                  <td>{{ team.logo }}</td>
                  <td>{{ team.team_information }}</td>
                  <td><a href="?controller=gestionTeam&action=editTeam&id={{ team.id }}">Modifier</a></td>
                  <td><a href="?controller=gestionTeam&action=deleteTeam&id={{ team.id }}">X</a></td>
            </tr>
         {% endfor %} 
         </tbody>
      </table>
      <a class="btn btn-primary float-right mt-4" type="submit" href="?controller=home&action=createTeam">Ajouter</a>
    </section>
{%  endblock %}  