{% extends 'layout.twig' %} 

{%  block body %}   
    {# {{dump(result)}} #}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <form class="box mt-5" action="?controller=GestionScore&action=updateScore&id={{ result.id }}" method="post" name="create">
                    <h1 class="text-center mb-5">Modification du profil</h1>
                    <input type="hidden" name="id" value="{{ result.id }}">
                    <input type="hidden" name="id_d" value="{{ result.id_d }}">
                    <input type="hidden" name="id_v" value="{{ result.id_v }}">
                    <input type="hidden" name="journee" value="{{ result.journee }}">
                    <div class="row">
                        <div class="col-6 mb-2">
                            <input type="text" class="form-control" name="result_d"  value="{{result.result_d}}">
                        </div>
                        <div class="col-6 mb-2">
                            <input type="text" class="form-control" name="result_v" value="{{result.result_v}}">
                        </div>
                    </div> 
                    <div class="row">
                        <div class="col-6 mb-2">
                            <a class="btn btn-primary float-left mt-4 col-6 w-100" type="submit" href="?controller=gestionScore">Retour</a>
                        </div>
                        <div class="col-6 mb-2">
                            <input type="submit" value="Valider" name="submit" class="btn btn-primary float-right mt-4 col-6 w-100 ">
                        </div>
                    </div>
                </form>
            </div> 
            <div class="col-6 mt-5">
               <h1>Mes informations</h1> 
                <table class="table">
                <thead>  
                    <tr>
                        <th scope="col">Par journée</th>
                        <th scope="col">Id domicile</th>
                        <th scope="col">Id visiteur</th>
                        <th scope="col">Resultats domicile</th>
                        <th scope="col">Resultats visiteur</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                {# {{dump()}} #}
                {% if result  %} 
                    <tr>
                        <td>Journée {{result.journee}} </td>
                        <td>{{ result.id_d}}</td> 
                        <td>{{ result.id_v }}</td> 
                        <td><input class="form-control" type="text" name="result_d" value="{{ result.result_d }}" readonly></td>
                        <td><input class="form-control" type="text" name="result_v" value="{{ result.result_v }}" readonly></td>
                        {# <td><button class="btn btn-danger" type="submit">Supprimer</button></td> #}
                        <td><a href="?controller=gestionScore&action=editResult&id={{ result.id }}" class="btn">Ajouter</a></td> 
                    </tr>
                {% endif %} 
                </tbody>
            </table>
            </div> 
        </div> 
    </div>
{%  endblock %}   